<div style="text-align:center">
  <h1>
    Welcome to Cinemas...!
  </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Language</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="./telugu">Telugu</a>
      <a class="nav-item nav-link" routerLink="./english">English</a>
      <a class="nav-item nav-link" routerLink="./hindi">Hindi</a>
      <a class="nav-item nav-link" routerLink="./tamil">Tamil</a>
      <a class="nav-item nav-link" routerLink="./malayalam">Malayalam</a>
      <a class="nav-item nav-link" routerLink="./kannada">Kannada</a>
      <a class="nav-item nav-link" routerLink="./other">Other</a>
    </div>
  </div>
</nav>
<marquee scrollamount="3">Upcoming: Sarkari vari paata, RRR</marquee>
<marquee scrollamount="5">
  <img src="assets/images/svp.png"/>
</marquee>
<router-outlet></router-outlet>
 <!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>  -->

<!-- <button class="button" (click)="gotService()">Get Info</button>
<button class="button" (click)="getCaptcha()">Get Captcha</button>
<button class="btn btn-primary" (click)="openModal()">Open Modal</button>

<div class="col-md-12">
  <div class="col-md-6">
    kljdfsklfdjsfsd dslkjfsdklfnsd sdlfksd fsdkfkdsfsd fsdkfjsd
  </div>
</div> -->


