<!--The content below is only a placeholder and can be replaced.-->
<nav style="text-align: center">
  <button class="btn btn-primary" routerLink="/cinemas">Cinemas</button>
  <button class="btn btn-success" routerLink="/events">Events</button>
  <button class="btn btn-warning" routerLink="/games">Games</button>
</nav>
  <router-outlet></router-outlet>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin"> 
  <p style="color: white">Loading...</p> 
</ngx-spinner>