<nav style="text-align: center; padding:5px">
  <button class="btn btn-dark" routerLink="/cinemas">Cinemas</button>
  <button class="btn btn-dark" routerLink="/events">Events</button>
  <button class="btn btn-dark" routerLink="/games">Games</button>
  <button class="btn btn-dark" routerLink="/cinemas">Cinemas</button>
  <button class="btn btn-dark" routerLink="/events">Events</button>
  <button class="btn btn-dark" routerLink="/games">Games</button>
  <button class="btn btn-dark" routerLink="/cinemas">Cinemas</button>
  <button class="btn btn-dark" routerLink="/events">Events</button>
  <button class="btn btn-dark" routerLink="/games">Games</button>
</nav>
  <div class="row" style="text-align: center; padding:5px">
    Body here...!
  </div>